@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  font-size: 12px;
  max-width: 90px;
  overflow: hidden;
  white-space: nowrap;
  border: 1px solid black;
  padding: 8px;
}

th {
  word-wrap: break-word;
  white-space: normal;
}

td {
  text-overflow: ellipsis;
}

main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: #f7fafc;
}

form {
  @apply space-y-6;
  width: 1000px;
}

label {
  @apply block text-sm font-medium text-gray-800;
}

input,
select {
  @apply mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 sm:text-sm;
}

button,
.export-button {
  @apply mt-4 px-4 py-2 bg-blue-500 text-white rounded-md shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500;
}

.export-button-container {
  @apply flex w-full m-12 text-center;
}

.form-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  max-width: 800px;
  width: 100%;
}

.MuiTextField-root,
.MuiFormControl-root {
  margin-bottom: 16px;
}

.fetch-button {
  grid-column: span 2;
  justify-self: center;
  padding: 0.75rem 1.5rem;
}

.result {
  @apply mt-6 p-4 bg-white border border-gray-300 rounded-md shadow-md;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-message {
  font-size: 1.5rem;
  color: #333;
}

.MuiInputLabel-root {
  background-color: white;
  padding-top: 10px;
  top: -14px;
  left: 0;
}

.form-grid {
  grid-template-columns: repeat(2, 1fr);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
  }

  .form-grid {
    grid-template-columns: 1fr;
  }

  .form-container {
    width: 350px;
  }

  .form-grid {
    grid-template-columns: 1fr;
  }

  .table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    width: 400px;
    margin: 20px 0 0 40px;
    display: flex;
    align-items: center;
    align-content: center;
  }

  .export-button-container {
    width: 100%;
    padding-right: 10%;
  }
  table {
    margin: auto;
    width: 100%;
    display: block;
    overflow-x: auto;
  }

  th,
  td {
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
